*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 180px;
}

.head i{
  cursor: pointer;
  font-size: 20px;
}

.head h2{
  font-size: 20px;
  font-weight: 800;
}

.head i:hover{
  transform: scale(1.4);
  transition: all 0.3s ease-in-out;
}

.container, .todo-grid{
  display: grid;
  grid-template-columns: 50vmin 20vmin 15vmin;
  gap: 10px;
  margin-top: 10px;
}

.container input{
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

input::placeholder{
  color: rgb(116, 116, 116);
  font-weight: 800;
}

.container button{
  border-radius: 10px;
  border: none;
  background-color: green;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.todo-grid .one{
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(230, 230, 221);
  word-break: break-word;
  white-space: pre-line;
}

.todo-grid .two{
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(230, 230, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-grid button{
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
}

.dark-mode{
  background-color: black;
  color: white;
}

.dark-mode .todo-grid{
  color: black;
}

.is-active{
  color: white;
}

@media (max-width: 900px) {
  .head{
    gap: 250px;
  }

  .todo-grid .one {
    word-break: break-word; /* breaks long words */
    white-space: pre-line;  /* respects \n as line breaks */
  }

  .todo-grid .two{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .head{
    gap: 20px;
  }

  .head h2{
    font-size: 15px;
  }

  .head i{
    font-size: 15px;
  }

  .container, .todo-grid{
    grid-template-columns: 100%;
  }

  .container #add{
    padding: 10px 0;
  }

  .todo-grid{
    width: 85%;
  }

  .todo-grid .one {
    word-break: break-word; /* breaks long words */
    white-space: pre-line;  /* respects \n as line breaks */
  }

  .todo-grid .two{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}